@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: "Bebas Neue", cursive;
  font-size: 10px;
}

/* NAVBAR */
nav {
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 13.5rem;
  background-image: url(./img/navbarbg.png);
  background-size: 60%;
  background-position: 100px center;
}
.navbar-left-image {
  margin-left: 5rem;
  /* height: 5.8rem; */
}
.navbar-burger-image {
  display: flex;
}
.navbar-left-p {
  margin-top: 1rem;
  color: #3d2514;
  font-size: 3.6rem;
  margin-left: 2rem;
  font-weight: 700;
}
.navbar-list ul {
  display: flex;
  position: absolute;
  right: 0;
  top: 9rem;
}
.navbar-list ul li a {
  padding-right: 6rem;
  font-size: 3rem;
  color: #3d2514;
  letter-spacing: 0.2rem;
}
.navbar-motobike-image {
  position: absolute;
  right: 0;
  top: 2.9rem;
  margin-right: 3rem;
}
/* NAVBAR MOTO ANIMATION */
.motocycle {
  margin-right: 1.1rem;
  animation: motobike 0.5s linear infinite alternate-reverse;
}
@keyframes motobike {
  0% {
    transform: translateX(0rem);
  }

  100% {
    transform: translateX(1rem);
  }
}
/*  */
.navbar-motobike-span {
  font-size: 2rem;
}
/*  */
/* CONTENT */
.container-menu {
  min-height: 100vh;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url(./img/bg.png);
  background-repeat: repeat;
  width: 100%;
  height: 90vh;
}
.mid-left-side-p {
  font-size: 3rem;
  border: 2px dashed #3d2514;
  border-radius: 0.5rem;
  padding: 1rem;
  padding-left: 5.5rem;
}
.mid-left-side-h1 {
  color: #3d2514;
  font-size: 12rem;
  text-shadow: 4px 5px #fee7ba;
}
.mid-right-side {
  margin-right: 15rem;
}
.mid-left-side {
  margin-left: 15rem;
}
.mid-right-side-img {
  width: 100%;
}
.iconz {
  display: none;
  font-size: 30px;
  width: 2.6rem;
}

.active {
  display: list-item;
}

.disabled {
  display: none;
}
/* BANNER */
.banner {
  margin-top: 20rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, auto);
  gap: 3rem;
  width: 100%;
  margin-bottom: 20rem;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}
.right-burgers {
  display: grid;
  gap: 3rem;
  width: 100%;
}
.banner-left-side {
  width: 100%;
}
.lburger {
  object-fit: cover;
  width: 100%;
  height: 56.5rem;
  border-radius: 1rem;
}

.rburger {
  width: 100%;
  height: 26.5rem;
}

/* BANNER TEXT */
.banner-txt-1 {
  position: absolute;
  top: 10rem;
  margin-left: 3rem;
}
.banner-left-side .left-burger-h4 {
  color: #ffffff;
  font-size: 3rem;
}
.banner-left-side .left-burger-h2 {
  color: #ffffff;
  font-size: 5rem;
}
.banner-txt-2 {
  position: absolute;
  top: 5rem;
  margin-left: 3rem;
}
.right-burgers .burger2 .right-burger-1-h2 {
  color: #ffffff;
  font-size: 4rem;
}
.right-burgers .burger2 .right-burger-1-h4 {
  color: #ffffff;
  font-size: 3rem;
}
.burger3 .banner-txt-3 {
  position: absolute;
  bottom: 15rem;
  margin-left: 3rem;
}
.right-burgers .burger3 .right-burger-2-h2 {
  color: #ffffff;
  font-size: 4rem;
}
.right-burgers .burger3 .right-burger-2-h4 {
  color: #ffffff;
  font-size: 3rem;
}
/*  */
/* MENU PAGE */
.always-tasty-burger {
  text-align: center !important;
  margin-top: 17rem;
}
.always-tasty-burger .atb-p {
  width: 21.681rem;
  height: 5.5rem;
  font-size: 2.5rem;
  padding: 1.2rem 0rem 1.3rem 0.1rem;
  margin: auto;
  margin-top: -100px;
  background: url(./img/bg.png);
}
.always-tasty-burger .atb-h2 {
  color: #3d2514;
  font-size: 7rem;
  font-weight: 700;
  text-shadow: 4px 5px #d4ccbb;
  letter-spacing: 0.3rem;
  margin-top: 1rem;
}
.always-tasty-burger .atb-p2 {
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  width: 50%;
  margin: auto;
  color: #4e4a41;
}
/*  */
/* HAMBURGER MENU */
.hamburger-menu-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-top: 5rem;
}
/*  */
/* HAMBURGER MENU IMAGES */
.hamburger-menu-menu {
  margin-bottom: 15rem;
}
.hamburger-menu-menu .left-image {
  width: 50%;
  height: 26.7rem;
}
.hamburger-menu-menu .mid-image {
  width: 50%;
  height: 30.31rem;
}
.hamburger-menu-menu .right-image {
  width: 50%;
  height: 27.6rem;
}
/* HAMBURGER MENU TEXT */
.hamburger-menu-h3 {
  font-size: 3.8rem;
}
.hamburger-menu-p {
  margin: auto;
  margin-top: 0.8rem;
  width: 30%;
  font-size: 2rem;
  color: #4e4a41;
  text-transform: none;
}
.hamburgerBtn {
  margin-top: 2rem;
  width: 20.1rem;
  height: 5.6rem;

  background: url(./img/bg.png);
}
.hamburgerBtn a {
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 600;
}
.hamburgerBtn:hover {
  transition: 0.5s ease;
  background-color: #ffc045;
}
/*  */
/* RESERVATION PAGE */
.container-reservation {
  min-height: 100vh;
}
.content-reservation {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, auto);
  margin-bottom: 15rem;
}
.reservation-left-side-pictures {
  position: absolute;
  left: 0;
  width: 15.8rem;
  margin-top: 20rem;
  z-index: -1;
}
.leftpic-2 {
  padding-top: 2rem;
  padding-left: 11rem;
}
.reservation-titles {
  margin-top: 12rem;
  text-align: center;
}
.re-title-1 {
  font-size: 5rem;
  text-shadow: 4px 5px #fee7ba;
}
.re-title2 {
  font-size: 8rem;
  color: #3d2514;
  text-shadow: 4px 5px #fee7ba;
}
.right-side-pic {
  z-index: -1;
}
form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  justify-content: center;
  gap: 2rem;
  text-shadow: 4px 3px 2px #3d2514;
}
input {
  width: 80%;
  height: 6.5rem;
  border-radius: 19px;
  margin-top: 15px;
  padding: 10px;
  background: url(./img/navbarbg.png);
  color: #3d2514;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn {
  background-color: transparent;
  color: transparent;
  font-size: 2rem;
  font-weight: 800;
  color: #3d2514;
}
::placeholder {
  color: #3d2514;
  font-weight: bold;
  font-size: 1.5rem;
}
.right-side-pic {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-top: 1500px;
}
/*  */
/* FOOTER */
footer {
  position: relative;
}
.footer-container {
  background-image: url(./img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;

  position: relative;
  bottom: 0;
  padding: 0 5rem;
}
.footer-logo-and-head {
  display: flex;
  width: 100%;
  padding-top: 9rem;
}

.footer-logo-img {
  width: 9.1rem;
  height: 9rem;
}
.footer-span-1 {
  color: #ffffff;
  font-size: 5rem;
  white-space: nowrap;
  margin-top: 2rem;
  padding-left: 3rem;
}
.footer-mid {
  display: flex;
  justify-content: space-between;
}

.footer-mid-p {
  width: 50%;
  height: 14.1rem;
  color: #ffffff;
  font-size: 1.7rem;
  padding-top: 4.4rem;

  font-family: "Montserrat", sans-serif;
}
.footer-contact {
  padding-top: 2rem;
  font-size: 2.1rem;
}
.footer-contact-item {
  padding-top: 2.2rem;
}
.footer-contact-text {
  color: #ffffff;
}
.footer-contact-text:hover {
  color: #ffc045;
}
.footer-icon {
  color: #ffffff;
  margin-right: 10px;
  width: 2.1rem;
  height: 2.1rem;
  fill: #ffffff;
}
.location-icon {
  width: 2.1rem;
  height: 2.3rem;
  color: white;
}
.email-icon {
  width: 2.1rem;
  height: 2.1rem;
  color: white;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
}
.footer-copyright {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;

  font-size: 1.5rem;
}

.footer-copyright:hover {
  color: #ffc045;
}
.footer-social a {
  width: 2.9rem;
  height: 2.9rem;
  padding-right: 1.5rem;
  margin-left: 0.2rem;
  color: #ffffff;
  font-size: 2.5rem;
}
.footer-social a:hover {
  color: #ffc045;
}
/*  */
/*  RESPONSIVE   */
/*  RESPONSIVE   */
/*  RESPONSIVE   */
/*  RESPONSIVE   */
/*  RESPONSIVE   */
@media screen and (max-width: 1538px) {
  .content {
    flex-direction: column;
    padding-top: 10rem;
    height: 100vh;
    text-align: center;
  }
  .mid-right-side {
    margin: auto;
  }
  .mid-left-side {
    margin: auto;
  }
}
@media screen and (max-width: 1412px) {
  .right-side-pic {
    width: 18%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .mid-right-side-img {
    margin: auto;
  }
}
@media screen and (max-width: 1366px) {
  .right-side-pic {
    width: 18%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .mid-right-side-img {
    width: 80%;
  }
  .mid-left-side-h1 {
    width: 100%;
  }
  .mid-left-side {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 1254px) {
  .left-side-pics {
    z-index: -1;
  }
  form {
    z-index: 999;
  }
  .reservation-form {
    z-index: 999;
  }
  nav {
    position: static;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1254px) {
  .hamburger-menu-menu {
    grid-template-columns: repeat(2, 1fr);
  }
  .hamburger-menu-menu .left-image {
    width: 60%;
    height: 26.7rem;
  }
  .hamburger-menu-menu .mid-image {
    width: 60%;
    height: 30.31rem;
  }
  .hamburger-menu-menu .right-image {
    width: 60%;
    height: 27.6rem;
  }
}
@media screen and (max-width: 1024px) {
  html {
    overflow-x: hidden;
  }
  nav {
    position: static;
  }
  .content {
    flex-direction: column;
  }
  .mid-left-side {
    margin-top: 10rem;
  }
  .banner {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .lburger {
    object-fit: cover;
    width: 75%;
    height: 26.5rem;
    border-radius: 1.3rem;
  }
  .rburger {
    width: 75%;
  }
  .banner-txt-2 {
    position: absolute;
    top: 34rem;
    left: 13rem;
    text-align: left;
  }
  .banner-txt-1 {
    position: absolute;
    top: 3rem;
    left: 13rem;
    text-align: left;
  }
  .banner-txt-3 {
    position: absolute;
    text-align: left;
    left: 13rem;
  }
  .hamburger-menu-menu {
    grid-template-columns: repeat(1, auto);
  }
  .left {
    margin-top: 1rem;
    width: 80%;
    margin: auto;
  }
  .mid {
    width: 80%;
    margin: auto;
    margin-top: 9rem;
  }
  .right {
    width: 80%;
    margin: auto;
    margin-top: 10rem;
  }
  .reservation-left-side-pictures {
    position: absolute;
    left: 0;
    width: 50%;
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(1, auto);
  }
  .right-side-pic {
    width: 20rem;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .lsp-1 {
    margin-top: 0rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar-list ul li a {
    padding-right: 1rem;
  }
}

@media screen and (max-width: 958px) {
  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    justify-content: center;
    gap: 2rem;
  }
  input {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
    overflow-x: hidden;
  }
  nav {
    position: static;
  }
  .reservation-left-side-pictures {
    position: absolute;
    left: 0;
    width: 50%;
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(1, auto);
  }
  .leftpic-2 {
    padding-top: 2rem;
  }
  .lsp-1 {
    width: 20rem;
  }
  .reservation-titles {
    /* text-align: center; */
    margin-bottom: 50px;
    z-index: 2;
  }
  .re-title-1 {
    font-size: 5rem;
    text-shadow: 4px 5px #fee7ba;
    /* margin-right: 100px; */
  }
  .re-title2 {
    font-size: 8rem;
    color: #3d2514;
    text-shadow: 4px 5px #fee7ba;
    /* margin-right: 100px; */
  }
  form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    z-index: 2;
    justify-content: center;
  }
  input {
    width: 50%;
    height: 6.5rem;
    border: 1px solid grey;
    border-radius: 19px;
    margin-top: 15px;
    padding: 10px;
    color: #3d2514;
  }
  .btn {
    background-color: #bf2222;
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
  }
  .right-side-pic {
    width: 25rem;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .footer-mid-p {
    width: 50%;
  }
  .navbar-list ul li a {
    padding-right: 1.5rem;
  }
  .hamburger-menu-menu {
    grid-template-columns: repeat(1, 1fr);
  }
  .content {
    flex-direction: column;
  }
  .banner {
    grid-template-columns: repeat(1, 1fr);
  }
  .lburger {
    object-fit: cover;
    width: 80%;
    height: 26.5rem;
    border-radius: 10px;
  }
  .rburger {
    object-fit: cover;
    width: 80%;
    border-radius: 10px;
  }
  .mid-left-side {
    margin-top: 8rem;
  }
  .banner-txt-2 {
    position: absolute;
    top: 34rem;
  }
  .banner-txt-1 {
    position: absolute;
    top: 3rem;
  }
  .navbar {
    height: 20rem;
  }
  .navbar-burger-image {
    position: absolute;
    top: 30px;
  }
  /* .navbar ul {
    position: absolute;
    top: 35px;
    display: flex;
    flex-direction: column;
  } */

  /* .navbar-motobike-image img,
  span {
    display: none;
  } */
}
@media screen and (min-width: 601px) and (max-width: 767px) {
  .navbar {
    height: 20rem;
  }
  .navbar-burger-image {
    position: absolute;
    top: 30px;
  }

  /* .navbar-motobike-image img,
  span {
    display: none;
  } */
  /* .iconz {
    color: #3d2514;
    margin-top: 15px;
    display: block;
  } */
}
@media screen and (min-width: 200px) and (max-width: 624px) {
  .iconz {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .navbar {
    height: 20rem;
  }
  .navbar-burger-image {
    position: absolute;
    top: 30px;
  }
  /* .navbar ul {
      position: absolute;
      top: 35px;
      display: flex;
      flex-direction: column;
    } */
  .iconz {
    color: #3d2514;
    margin-top: 15px;
    display: block;
  }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
  .motocycle {
    margin-left: 3rem;
  }
  .navbar {
    height: 20rem;
  }
  .navbar-burger-image {
    position: absolute;
    top: 30px;
  }
  /* .navbar ul {
    position: absolute;
    top: 35px;
    display: flex;
    flex-direction: column;
  } */
}

@media screen and (max-width: 466px) {
  .footer-container {
    height: 60vh;
  }
  .iconz {
    color: #3d2514;
    margin-top: 15px;
    display: block;
  }

  /* .footer-bottom {
    padding-top: 15rem;
  } */
}

@media screen and (min-width: 400px) and (max-width: 624px) {
  .navbar {
    height: 20rem;
  }
  .navbar-burger-image {
    position: absolute;
    top: 30px;
  }
  /* .navbar ul {
    position: absolute;
    top: 35px;
    display: flex;
    flex-direction: column;
  } */
  body {
    overflow-x: hidden;
  }

  .container-menu {
    min-height: 100%;
  }
  .container-reservation {
    min-height: 100%;
  }
  .footer-container {
    height: auto;
    margin: auto;
  }
  .footer-mid {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    width: 100%;
    margin: auto;
  }
  .footer-bottom {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
  }
  .footer-mid-p {
    width: 100%;
    padding-top: 5rem;
  }
  .footer-contact {
    padding-top: 4rem;
  }
  .footer-social {
    padding-top: 5rem;
  }
  .left-burger-h2 {
    font-size: 3.2rem;
  }
  /* .iconz {
    color: #3d2514;
    margin-top: 15px;
    display: block;
  } */
  @media screen and (min-width: 400px) and (max-width: 624px) {
    .navbar {
      height: 20rem;
    }
    .navbar-burger-image {
      position: absolute;
      top: 30px;
    }
    .toggleli {
      display: none;
    }
    /* .navbar ul {
      position: absolute;
      top: 35px;
      display: flex;
      flex-direction: column;
    } */
    .banner-txt-2 {
      position: absolute;
      top: 34rem;
      left: 8rem;
      text-align: left;
    }
    .banner-txt-1 {
      position: absolute;
      top: 3rem;
      left: 8rem;
      text-align: left;
    }
    .banner-txt-3 {
      position: absolute;
      text-align: left;
      left: 8rem;
    }
    .right-burger-2-h4 {
      font-size: 5rem;
    }
    .iconz {
      color: #3d2514;
      margin-top: 15px;
      display: block;
    }

    .navbar-motobike-image img,
    span {
      display: none;
    }
  }
  @media screen and (min-width: 400px) and (max-width: 425px) {
    .left-image {
      width: 300px;
    }
    .mid-image {
      width: 100%;
    }
    .right-image {
      width: 100%;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 399px) {
    .left-image {
      width: 100%;
    }
    .mid-image {
      width: 100%;
    }
    .right-image {
      width: 100%;
    }
  }
}
@media screen and (max-width: 400px) {
  body {
    overflow-x: hidden;
  }
  .navbar {
    height: 20rem;
  }
  .toggleli {
    display: none;
  }
  .navbar-burger-image {
    position: absolute;
    top: 30px;
  }
  /* .navbar ul {
      position: absolute;
      top: 35px;
      display: flex;
      flex-direction: column;
    } */
  .iconz {
    color: #3d2514;
    margin-top: 15px;
    display: block;
  }

  .navbar-motobike-image img,
  span {
    display: none;
  }
  .motocycle {
    margin-left: 17px;
    /* margin-top: 10px; */
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
  }
  .footer-mid {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    width: 100%;
    margin: auto;
  }
  .footer-bottom {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
  }
  .footer-mid-p {
    width: 100%;
  }

  .footer-social {
    padding-top: 5rem;
  }
  .left {
    width: 100%;
  }
  .mid {
    width: 100%;
    margin: auto;
  }
  .mid-image {
    margin-top: 10rem;
  }
  .right {
    width: 100%;
  }

  input {
    width: 60%;
  }
  .banner {
    width: 80%;
    display: block;
    margin-left: 4rem;
    margin-top: 150px;
  }
  .lburger {
    width: 100%;
    /* padding-right: 7rem; */
    /* padding-left: 1.5rem; */
    border-radius: 1.5rem;
    margin-left: 1rem;
  }
  .mid-right-side-img {
    width: 100%;
  }
  .rburger {
    width: 100%;
    /* padding-right: 7rem; */
    /* padding-left: 1.5rem; */
    margin-top: 2rem;
    margin-left: 1rem;
  }

  .right-burgers {
    gap: 0px;
  }
  .mid-left-side-h1 {
    font-size: 8rem;
  }
  .mid-left-side-p {
    font-size: 2rem;
    border: 1px dashed black;
    padding-left: 0px;
  }
  .banner-txt-1 {
    left: 0.5rem;
  }
  .banner-txt-2 {
    left: 0.5rem;
  }
  .banner-txt-3 {
    left: 0.5rem;
  }
  .iconz {
    color: #3d2514;
    margin-top: 15px;
    display: block;
  }
}
.content {
  padding: 40px 0px;
}

@media screen and (min-width: 200px) and (max-width: 600px) {
  .left-image {
    width: 100%;
  }
  .mid-image {
    width: 100%;
  }
  .right-image {
    width: 100%;
  }
}
@media screen and (min-width: 200px) and (max-width: 399px) {
  .iconz {
    color: #3d2514;
    margin-top: 15px;
    display: block;
  }
  .navbar-motobike-image img,
  span {
    display: none;
  }
  .toggleli {
    display: none;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 65vh;
  }
  .footer-mid {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    width: 100%;
    margin: auto;
  }
  .footer-bottom {
    display: flex;
    flex-direction: column;
  }
  .footer-mid-p {
    width: 100%;
  }

  .footer-social {
    padding-top: 5rem;
  }

  .left {
    width: 100%;
  }
  .mid {
    width: 100%;
  }
  .right {
    width: 100%;
  }
}
